.header{
  display: inline-block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  font-family: Verdana,Geneva,sans-serif;
  font-weight: 900;
}

.centered {
  text-align: center;
}

.header h3 {
color:gold;
}

.welcome {
  text-align: center;
  padding-top: 200px;

}

.don {
  padding-top: 100px;

}

.enter-btn button {
  color: black;
}

 .night {
  background-color: black;
  color: gray;
}
.night input {
  background-color: gray;
  color: black;
}
.night textarea {
  background-color: gray;
  color: black;
}
.night .btn-default {
  background-color: gray;
}
