body {
  background-color: #F2F2F2;
}

.header {
  display: inline-block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  font-family: Verdana,Geneva,sans-serif;
  font-weight: 900;
}

.centered {
  text-align: center;
}

.header h4 {
color: gray;
}

.welcome {
  text-align: center;
  padding-top: 200px;

}

.don {
  padding-top: 100px;

}

.enter-btn button {
  text-color: black;
}

 /*.reviewId {
   padding-top: 50px;
 }*/
